*{
	text-decoration: none;
	margin: 0;
	padding: 0;
}
/*body{
	background-color: #f3f3f3;
}*/
header{
	width: 100%;
	height: 100px;
	background-color: #fff;
}
header .headerlogo{
	font-family: sans-serif;
	font-size: 24px;
	display: block;
	color: #111;
	font-weight: 900;
	margin: 0 auto;
	text-align: center;
}
header nav ul{
	display: block;
	margin: 0 auto;
	width: fit-content;

}
header nav ul li{
	display: inline-block;
	list-style: none;
	padding: 10px 16px;
	float: left;

}
header nav ul li a{
	font-family: sans-serif;
	font-size: 16px;
	color: #111;
}
header .headercases{
	display: none;
}
.firstbanner{
	width: 100%;
	height: calc(100vh - 100px);
	background-image: url('images/pic.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
}
.container{
	display: table-cell;
	vertical-align: middle;
}
.firstbanner h2{
	font-size: 50px;
	font-weight: bold;
	color: #111;
	line-height: 70px;
	text-align: center;
	text-shadow: 2px 2px 8px #fff;
}
.firstbanner h1{
	font-size: 18px;
	font-weight: 100;
	font-style: italic;
	line-height: 30px;
	color: #111;
	text-align: center;
}
.secondbanner div{
	margin: 15px 15px 0;
	width: calc(100% - 30px);
	background-color: #f2f2f2;
	height: 100px;
}
.secondbanner div h3{
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 100px;
	color: #111;
	text-align: center;
	text-transform: uppercase;
}





@media (min-width: 1000px) {
header .headerlogo{
	margin: 31px 0;
	text-align: left;
	line-height: 38px;
	padding: 0px 20px 0px 40px;
	border-right: 3px solid #111;
	float: left;

	}
	header nav ul{
	margin: 10px 0px;
	float: left;
	}
	header nav ul li{
	display: inline-block;
	list-style: none;
	padding: 10px 16px;
	float: left;

	}
	header nav ul li a{
	font-family: sans-serif;
	font-size: 16px;
	color: #111;
	line-height: 60px;
	}
	header .headercases{
	display: block;
	font-family: sans-serif;
	font-size: 16px;
	color: #111;
	line-height: 38px;
	border: 1px solid #111;
	float: right;
	margin-right: 40px;
	padding: 0px 20px;
	margin-top: 30px;
	}
}

@media (min-width: 1000px) {
	.wrapper{
	width: 1000px;
	margin: 0 auto;
	}
	.firstbanner{
	height: 450px;
	}
	.firstbanner h1{
	display: block;
	width: 560px;
	margin: 0 auto;
	}
	.secondbanner div{
	margin: 20px 10px 0;
	background-color: #f2f2f2;
	height: 230px;
	float: left;
	}
	.indexbox-square{
	width: calc(25% - 20px) !important;
	}
	.indexbox-rectangle{
	width: calc(50% - 20px)!important;
	}

}